* {
  outline: 1px solid black;
}


/* .col-6{
  text-align: center;
  background-color: lightgrey;
  background: #000;: black;
  height: 60px;
}

.col-3{
  text-align: center;
  background-color: lightgray;
  height: 60px;
} */